@font-face {
  font-family: "Open Sans";
  src: url(OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Neucha";
  src: url(Neucha-Regular.ttf);
}


* {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --half-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-black: #42413c;
  --black: #2a2626;
  --half-black: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 1.6em;
  color: #2A2626;

  margin: 0;  
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Neucha';
  line-height: 1.2em;
  font-weight: normal;

  margin: 0;
}

h1 {
  font-size: 72px;
  color: var(--main);
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 24px;
  color: var(--half-black);
}

.margin-auto {
  margin: auto;
}

.questions {
  position: relative;
}

.questions::before {
  content: '';
  background-repeat: no-repeat;
  background-size: cover;
  background: url('background.png');
  opacity: 0.1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.section {
  display: flex;
  flex-direction: column;
  max-width: 1110px;
  margin: auto;
  padding: 100px 0;
  position: relative;
}

.bg-light {
  background-color: var(--light);
}

.bg-brown {
  background-color: var(--brown);
  color: white;
}

.laptop-man {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

.two-text {
  display: flex;
  gap: 30px;
}

.m-200 {
  margin-top: 200px;
}

.half {
  width: 50%
}

.button {
  display: inline-block;
  cursor: pointer;
  margin-top: 60px;
  background: var(--main);
  padding: 12px 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.button:hover {
  background: #EA7600;
}

.what-is {
  background-color: white;
}

.author-name {
  margin: 30px auto;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  margin-bottom: -200px;
}

.black-block {
  position: absolute;
  background-color: var(--black);
  bottom: 0;
  width: 100vw;
  content: '';
}

.remember {
  background: var(--black);
}

.remember .section {
  padding-top: 200px;
}

.remember nav {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;
}

.remember h2 {
  width: 350px;

  font-size: 52px;
}

.card {
  width: 350px;

  padding: 24px;

  background: var(--light);

  text-decoration: none;
  color: black;

  cursor: pointer;
}

.card:hover {
  background: var(--main);
  color: white;
}

.card:hover .card__name {
  color: white;
}

.upper-card {
  height: 323px;
}

.bottom-card {
  height: 348px;
}

.card__number {
  margin-bottom: 40px;
  
  font-size: 64px;
  font-family: 'Neucha';
  line-height: 1;
}

.card__name {
  color: var(--main);
}

.photo-title {
  display: flex;
  gap: 30px;
}

.img-wrapper {
  background-color: white;
}

.universal-img {
  vertical-align: middle;
  background-color: white;
  box-shadow: 0px 16px 32px 0px #00000026;
}

.brown-brick {
  margin: 100px 0 20px 0;
  background-color: var(--brown);
  color: white;
}

.how-manifests {
  margin: 5px 10px;
}

.white-brick {
  margin: 100px 0 20px 0;
  background-color: white;
  color: var(--brown);
}

.half-white {
  color: var(--half-white);
}

.black {
  color: black;
}

.white {
  color: white;
}

.orange {
  color: var(--main);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: var(--main-black);

  width: 100%;
  height: 190px;
}

.container-row {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 100%;
}

.container-column {
  display: flex;
  flex-direction: column;
}

.container-text {
  font-size: 18px;
  margin: 0;
}

input {
  height: 50px;
  padding: 15px;
  width: 423px;

  border-radius: 0;
  border: 1px solid #e3e3e3;
  outline: none;
}

.input-container {
  display: flex;
  gap: 0;
}

.footer__button {
  background-color: var(--main);
  height: 50px;
  width: 70px;

  border: 0;
  outline: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.footer__button::before {
  content: url(send.svg);
}

.mini-text {
  font-size: 12px;
  margin: 0;
}

.m-60 {
  margin-top: 60px;
}

.contact-text {
  font-size: 14px;
}

.blue {
  color: var(--blue);
}