@font-face {
  font-family: "Open Sans";
  src: url(/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Neucha";
  src: url(/Neucha-Regular.ttf);
}


* {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --half-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-black: #42413c;
  --black: #2a2626;
  --half-black: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 1.6em;
  color: #2A2626;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Neucha';
  line-height: 1.2em;
  font-weight: normal;

  margin: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.margin-auto {
  margin: auto;
}

.questions {
  position: relative;
}

.questions::before {
  content: '';
  background-repeat: no-repeat;
  background-size: cover;
  background: url('background.png');
  opacity: 0.1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.section {
  display: flex;
  flex-direction: column;
  max-width: 1110px;
  margin: auto;
  padding: 100px 0;
  position: relative;
}

.laptop-man {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

.two-text {
  margin-top: 200px;
  display: flex;
  gap: 30px;
}

.half {
  width: 540px;
}

.button {
  display: inline-block;
  cursor: pointer;
  margin-top: 60px;
  background: var(--main);
  padding: 12px 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.what-is {
  background-color: white;
}

.author-name {
  margin: 30px auto;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  margin-bottom: -200px;
}

.black-block {
  position: absolute;
  background-color: var(--black);
  bottom: 0;
  width: 100vw;
  content: '';
}

.remember {
  background: var(--black);
}

.remember .section {
  padding-top: 200px;
}

.remember nav {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;
}

.remember h2 {
  color: white;
  width: 350px;

  font-size: 52px;
}

.card {
  width: 350px;

  padding: 24px;

  background: var(--light);

  text-decoration: none;
  color: black;

  cursor: pointer;
}

.upper-card {
  height: 323px;
}

.bottom-card {
  height: 348px;
}

.card__number {
  margin-bottom: 40px;
  
  font-size: 64px;
  font-family: 'Neucha';
  line-height: 1;
}

.card__name {
  color: var(--main);
}
